<p id="notice"><%= notice %></p>

<h1>Draft Picks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @draft_picks.each do |draft_pick| %>
      <tr>
        <td><%= link_to 'Show', draft_pick %></td>
        <td><%= link_to 'Edit', edit_draft_pick_path(draft_pick) %></td>
        <td><%= link_to 'Destroy', draft_pick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draft Pick', new_draft_pick_path %>
