<p id="notice"><%= notice %></p>

<h1>Fpl Team Lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fpl_team_lists.each do |fpl_team_list| %>
      <tr>
        <td><%= link_to 'Show', fpl_team_list %></td>
        <td><%= link_to 'Edit', edit_fpl_team_list_path(fpl_team_list) %></td>
        <td><%= link_to 'Destroy', fpl_team_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fpl Team List', new_fpl_team_list_path %>
